@font-face {
  font-family: Rosemary;
  src: url(@/assets/fonts/Rosemary.ttf);
}
@font-face {
  font-family: Delius;
  src: url(@/assets/fonts/Delius-Regular.ttf);
}
@font-face {
  font-family: 'Delius Unicase';
  src: url(@/assets/fonts/DeliusUnicase-Regular.ttf);
}
@font-face {
  font-family: DeliusSwashCaps;
  src: url(@/assets/fonts/DeliusSwashCaps-Regular.ttf);
}
