/* color variables for lore concepts */
:root {
  /* general concepts */
  --color-folia: #ff8114;
  --color-startrail: var(--color-folia); // estela
  --color-anthesis: var(--color-folia); // antesis
  --color-essence: #6464ff; // ánimo
  --color-roots: var(--color-folia); // raíz/raíces
  --color-nodes: #23aecc; // nodos
  /* folia branches */
  --color-branches: #bc54ee; // rama/ramas
  --color-hybrid: var(--color-branches); // híbrido/híbridos
  --color-caudate: #ff035e; // caudado-a/caudados-as
  --color-flowering: #04f49e; // florecido-a/florecidos-as
  --color-winged: #0193ff; // alado-a/alados-as
  /* branch roots */
  --color-pollen: var(--color-flowering); // polen estelar
  --color-dendrites: var(--color-caudate); // dendrita/dendritas
  --color-elements: var(--color-winged); // elementos/elementos naturales
  /* branch nodes */
  --color-glyphs: var(--color-caudate); // glifo/glifos
  --color-solar-wings: var(--color-winged); // alas solares
  /* creatures */
  --color-lucero: #04f49e;
  --color-umbria: #ff035e;
  --color-natur: #04f49e;
  --color-negativity: #ff035e;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-folia: #ff4d46;
    --color-branches: #a132db;
  }
}

/* lore concept helper classes - use CSS variables defined above */
.lore {
  font-weight: 600;
}
.style-lytflos {
  font-family: DeliusSwashCaps;
}
.style-triadia {
  font-family: DeliusSwashCaps;
}
.style-folia {
  color: var(--color-folia);
  &--game {
    font-family: DeliusSwashCaps;
  }
}
.style-essence {
  color: var(--color-essence);
}
.style-branches {
  color: var(--color-branches);
}
.style-hybrid {
  color: var(--color-hybrid);
}
.style-caudate {
  color: var(--color-caudate);
}
.style-flowering {
  color: var(--color-flowering);
}
.style-winged {
  color: var(--color-winged);
}
.style-pollen {
  color: var(--color-pollen);
}
.style-dendrites {
  color: var(--color-dendrites);
}
.style-elements {
  color: var(--color-elements);
}
.style-startrail {
  color: var(--color-startrail);
}
.style-anthesis {
  color: var(--color-anthesis);
}
.style-roots {
  color: var(--color-roots);
}
.style-natur {
  color: var(--color-natur);
}
.style-negativity {
  color: var(--color-negativity);
}
.style-nodes {
  color: var(--color-nodes);
}

.background-winged {
  background-color: #0193ff30;
}
.background-caudate {
  background-color: #ff035e30;
}
.background-flowering {
  background-color: #04f49e30;
}
